html {
	height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	font: 14px/18px Arial, sans-serif;
	height: 100%;
	background-color: #D7D7D7;
	color: #191919;
}

.wrapper {
	min-width: 320px;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: rgb(255, 252, 245);
}

input {
	margin-top: 10px;
	border-radius: 6px;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
	height: 200px;
	position: relative;
}

.header .main-page-link {
	position: absolute;
	background: url("img/header_image.png") no-repeat;
	left: 0;
	width: 500px;
	height: 200px;
}

.header .main-page-link h1 {
	visibility: hidden;
	line-height: 200px;
}


/*modal*/

.modal-overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}

.modal-visible {
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
	border-radius: 6px;
	z-index: 2000;
	width: 400px;
	padding: 0px;
	margin-left: -250px;
}

.get-username-modal .modal-username-btn {
	float: right;
	line-height: 20px;
	margin: 1.2em;
	border: 1px solid #ccc;
	border-radius: 6px;
	background: transparent;
}

.get-username-modal .modal-username-btn:hover {
	cursor: pointer;
	box-shadow: rgb(215, 215, 215);
	text-decoration: underline;
}

.get-username-modal h2 {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #555;
}

.modal-content {
	padding: 1em 2em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: WhiteSmoke;
}


/*modal*/

.header .head-user-id {
	position: absolute;
	padding: 10px;
	top: 30px;
	right: 30px;
	width: auto;
	height: 60px;
	text-align: center;
}

.header .head-user-id .user-id-name {
	display: block;
	margin-top: 6px;
	font-size: 18px;
	font-style: italic;
}

.main-menu {
	position: absolute;
	bottom: -1px;
	right: 0;
}

.main-menu .menu-list {
	text-align: center;
	margin: 0 auto;
}

.main-menu .menu-list .menu-item {
	display: inline-block;
	width: 120px;
	height: 40px;
	border-radius: 8px;
	margin-right: 4px;
	border: 1px solid #D7D7D7;
	box-shadow: inset 0px 0px 30px 0px rgba(215, 215, 215, 1);
	font-weight: 600;
	font-size: 13px;
	line-height: 40px;
	text-transform: uppercase;
}

.main-menu .menu-list .menu-item .item-link {
	color: #191919;
	padding: 10px;
	text-decoration: none;
}


/* Middle
-----------------------------------------------------------------------------*/

.content {
	padding: 30px 0 100px;
	border-top: 1px solid #D7D7D7;
}

.content .asc-q {
	margin-left: 50px;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	cursor: pointer;
}


/* Modal -> asc question*/

.asc-q-modal {
	position: relative;
}

.asc-q-modal h2 {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #555;
}

.asc-q-modal .asc-q-text {
	width: 430px;
	height: 100px;
}

.asc-q-modal .modal-visible {
	width: 500px;
}

.asc-q-modal .modal-visible .q-modal-submit {
	margin: 8px 10px;
	float: right;
	cursor: pointer;
	width: 80px;
	height: 28px;
}


/* Question page --------------------------------*/

.content .q-holder {
	display: block;
	margin-bottom: 30px;
	min-height: 200px;
}

.content .q-holder .question-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	margin-left: 100px;
}

.content .q-holder img {
	width: 100px;
	height: auto;
	margin-right: 40px;
	float: right;
}


.content .q-holder .q-user-id {
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
}

.content .q-holder,
.ans-holder {
	margin: 20px;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
	margin: -100px auto 0;
	min-width: 320px;
	max-width: 1000px;
	height: 100px;
	position: relative;
	border-top: 1px solid #D7D7D7;
}